@font-face {
    font-family: 'Teko';
    src: url('fonts/Teko-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Teko';
    src: url('fonts/Teko-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
/* Defaults */

* {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
}

/* Light theme - default */
:root {
    --bg: #fff;
    --fg: #101010;
    --fga: #222;
    --fgah: #888;
    --fgl: #888;
}

@media screen and (prefers-color-scheme: dark) {
    /* Dark theme */
    :root {
        --bg: #000;
        --fg: #dedede;
        --fga: #ccc;
        --fgah: #777;
        --fgl: #888;
    }
}

body {
    background: var(--bg);
    color: var(--fg);
}

/* Main Page elements */

main {
    margin: auto;
    padding: 0px 16px;
}

@media (min-width: 440px) {
    main {
        padding: 0px 32px;
    }
}

@media (min-width: 700px) {
    main { max-width: 900px ; }
}

/* Other */


h1, h2, h3, h4, h5 {
    font-family: 'Teko', sans-serif;
}

nav a, header {
    font-family: 'Teko', sans-serif;
}

h1 {
    font-size: 2.2rem;
    line-height: 2.2rem;
}

h2 {
    font-size: 2rem;
}

p {
    margin-bottom: 16px;
    line-height: 1.3rem;
    font-size: 1.05rem;
}

header {
    text-align: center;
    padding: 22px 0px;
    padding-top: 30px;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}

a, a:visited {
    color: #0a91ff;
}

a:hover, a:active {
    color: #040e20;
}

/* Navigation */

nav {
    text-align: center;
    padding: 12px 0px;
    margin-bottom: 22px;
}

nav ul {
    display: inline;
    padding: 12px 0px;
    list-style-type: none;
}

nav li {
    display: inline;
    margin: 0 16px;
}

#logo {
    color: var(--fga);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 40px;
}

#logo:hover {
    color: var(--fgah);
    text-decoration: underline;
}

nav li a, nav li a:visited {
    color: var(--fga);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav li a:hover, nav li a:active {
    color: var(--fgah);
    text-decoration: underline;
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 22px;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--fgl);
}